<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="filePath" value="R:\TrnyBracket\Data"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=DESKTOP-I1M9LUU;&#xD;&#xA;                                              Database=Tournaments;&#xD;&#xA;                                              Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="Tournament" connectionString="Data Source=DESKTOP-I1M9LUU\SQLEXPRESS;Initial Catalog=Tournaments;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>